<a href="https://colab.research.google.com/github/Shweta-sharma-1998/Mongodb_Task/blob/main/student_database_mongodb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install dnspython
!pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 8.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [2]:
import pymongo 
from pymongo import MongoClient

In [3]:
client = pymongo.MongoClient("mongodb://shweta1998:abcdefgh@cluster0-shard-00-00.tvwpy.mongodb.net:27017,cluster0-shard-00-01.tvwpy.mongodb.net:27017,cluster0-shard-00-02.tvwpy.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-z7cf5l-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.Student_data
records=db.std
records.count_documents({})

0

In [4]:
# add json file data to MongoDB "Student_data" database

import json
data = []
for line in open('/content/students.json', 'r'):
  data.append(json.loads(line))

for i in range(len(data)):
  records.insert_one(data[i])

In [ ]:
#1). The student name who scored maximum scores in all (exam, quiz and homework)

In [5]:
# (1). IN EXAM

li=[]
exam_dict=dict()

i=0
for x in records.find({'scores.type':'exam'},{'scores.score':1}):
  exam_dict[i]=(x['scores'][0])
  i+=1
for i in exam_dict.values():
  temp=i['score']
  li.append(temp)

A= max(li)

for j in records.find({"scores.score": A}, {"_id":1, "name": 1}):
  print("Details of Student who scored maximum in EXAM: ")
  print("================================================")
  print(j)

print("Marks obtained: ",A)

Details of Student who scored maximum in EXAM:
================================================
{'_id': 136, 'name': 'Margart Vitello'}
Marks obtained:  99.33685767140612

In [6]:
# (2). IN QUIZ

li1=[]
quiz_dict=dict()

i=0
for x in records.find({'scores.type':'exam'},{'scores.score':1}):
  quiz_dict[i]=(x['scores'][1])
  i+=1
for i in quiz_dict.values():
  temp=i['score']
  li1.append(temp)
  
B= max(li1)

for j in records.find({"scores.score": B}, {"_id":1, "name": 1}):
  print("Details of Student who scored maximum in QUIZ: ")
  print("================================================")
  print(j)

print("Marks Obtained: ", B)

Details of Student who scored maximum in QUIZ:
================================================
{'_id': 69, 'name': 'Cody Strouth'}
Marks Obtained:  99.80348240553108

In [7]:
# (2). IN HOMEWORK

li2=[]
hw_dict=dict()

i=0
for x in records.find({'scores.type':'exam'},{'scores.score':1}):
  hw_dict[i]=(x['scores'][2])
  i+=1
for i in hw_dict.values():
  temp=i['score']
  li2.append(temp)
  
C= max(li2)

for j in records.find({"scores.score": C}, {"_id":1, "name": 1}):
  print("Details of Student who scored maximum in HW: ")
  print("================================================")
  print(j)

print("Marks Obtained: ", C)

Details of Student who scored maximum in HW:
================================================
{'_id': 178, 'name': 'Whitley Fears'}
Marks Obtained:  99.77237745070993

In [ ]:
# 2). Find students who scored below average in the exam and pass mark is 40% ?

In [8]:
# in EXAM

for x in records.find({'scores.type':'exam'},{'_id':1, 'name':1,'scores.score':1}):
  y=(x['scores'][0])
  if y['score']<40:
    print("_id:",x['_id'],";","name:",x['name'])

_id: 0 ; name: aimee Zank
_id: 6 ; name: Jenette Flanders
_id: 8 ; name: Daphne Zheng
_id: 14 ; name: Alix Sherrill
_id: 16 ; name: Dodie Staller
_id: 17 ; name: Fletcher Mcconnell
_id: 26 ; name: Jonie Raby
_id: 27 ; name: Edgar Sarkis
_id: 28 ; name: Laureen Salomone
_id: 30 ; name: Kaila Deibler
_id: 31 ; name: Tandra Meadows
_id: 34 ; name: Carli Belvins
_id: 35 ; name: Synthia Labelle
_id: 38 ; name: Richelle Siemers
_id: 39 ; name: Mariette Batdorf
_id: 41 ; name: Aleida Elsass
_id: 43 ; name: Ernestine Macfarland
_id: 46 ; name: Lady Lefevers
_id: 48 ; name: Barbera Lippman
_id: 50 ; name: Alica Pasley
_id: 53 ; name: Malisa Jeanes
_id: 56 ; name: Danika Loeffler
_id: 58 ; name: Joaquina Arbuckle
_id: 60 ; name: Dusti Lemmond
_id: 63 ; name: Rubie Winton
_id: 66 ; name: Kim Xu
_id: 69 ; name: Cody Strouth
_id: 70 ; name: Harriett Velarde
_id: 74 ; name: Leola Lundin
_id: 78 ; name: Len Treiber
_id: 80 ; name: Echo Pippins
_id: 82 ; name: Santiago Dollins
_id: 83 ; name: Tonisha Games
_id: 86 ; name: Brain Lachapelle
_id: 87 ; name: Toshiko Sabella
_id: 91 ; name: Ty Barbieri
_id: 92 ; name: Ta Sikorski
_id: 93 ; name: Lucinda Vanderburg
_id: 94 ; name: Darby Wass
_id: 95 ; name: Omar Bowdoin
_id: 101 ; name: Tania Hulett
_id: 106 ; name: Karry Petrarca
_id: 114 ; name: aimee Zank
_id: 115 ; name: Aurelia Menendez
_id: 117 ; name: Bao Ziglar
_id: 120 ; name: Jenette Flanders
_id: 121 ; name: Salena Olmos
_id: 123 ; name: Sanda Ryba
_id: 124 ; name: Denisha Cast
_id: 131 ; name: Fletcher Mcconnell
_id: 132 ; name: Verdell Sowinski
_id: 133 ; name: Gisela Levin
_id: 135 ; name: Rosana Vales
_id: 137 ; name: Tamika Schildgen
_id: 138 ; name: Jesusa Rickenbacker
_id: 139 ; name: Rudolph Domingo
_id: 140 ; name: Jonie Raby
_id: 144 ; name: Kaila Deibler
_id: 145 ; name: Tandra Meadows
_id: 146 ; name: Gwen Honig
_id: 147 ; name: Sadie Jernigan
_id: 149 ; name: Synthia Labelle
_id: 157 ; name: Ernestine Macfarland
_id: 161 ; name: Kurtis Jiles
_id: 162 ; name: Barbera Lippman
_id: 163 ; name: Dinah Sauve
_id: 165 ; name: Elizabet Kleine
_id: 168 ; name: Joel Rueter
_id: 172 ; name: Joaquina Arbuckle
_id: 175 ; name: Grady Zemke
_id: 177 ; name: Rubie Winton
_id: 178 ; name: Whitley Fears
_id: 180 ; name: Kim Xu
_id: 181 ; name: Merissa Mann
_id: 183 ; name: Cody Strouth
_id: 186 ; name: Leonida Lafond
_id: 187 ; name: Devorah Smartt
_id: 192 ; name: Len Treiber
_id: 194 ; name: Echo Pippins
_id: 197 ; name: Tonisha Games
_id: 198 ; name: Timothy Harrod

In [9]:
# in QUIZ

for x in records.find({'scores.type':'exam'},{'_id':1, 'name':1,'scores.score':1}):
  y=(x['scores'][1])
  if y['score']<40:
    print("_id:",x['_id'],";","name:",x['name'])

_id: 0 ; name: aimee Zank
_id: 2 ; name: Corliss Zuk
_id: 3 ; name: Bao Ziglar
_id: 5 ; name: Wilburn Spiess
_id: 6 ; name: Jenette Flanders
_id: 8 ; name: Daphne Zheng
_id: 15 ; name: Tambra Mercure
_id: 16 ; name: Dodie Staller
_id: 19 ; name: Gisela Levin
_id: 22 ; name: Margart Vitello
_id: 24 ; name: Jesusa Rickenbacker
_id: 25 ; name: Rudolph Domingo
_id: 28 ; name: Laureen Salomone
_id: 29 ; name: Gwyneth Garling
_id: 31 ; name: Tandra Meadows
_id: 33 ; name: Sadie Jernigan
_id: 35 ; name: Synthia Labelle
_id: 40 ; name: Rachell Aman
_id: 42 ; name: Kayce Kenyon
_id: 44 ; name: Houston Valenti
_id: 47 ; name: Kurtis Jiles
_id: 49 ; name: Dinah Sauve
_id: 51 ; name: Elizabet Kleine
_id: 53 ; name: Malisa Jeanes
_id: 57 ; name: Chad Rahe
_id: 59 ; name: Vinnie Auerbach
_id: 62 ; name: Vina Matsunaga
_id: 66 ; name: Kim Xu
_id: 71 ; name: Kam Senters
_id: 72 ; name: Leonida Lafond
_id: 73 ; name: Devorah Smartt
_id: 76 ; name: Adrien Renda
_id: 77 ; name: Efrain Claw
_id: 78 ; name: Len Treiber
_id: 83 ; name: Tonisha Games
_id: 87 ; name: Toshiko Sabella
_id: 88 ; name: Keesha Papadopoulos
_id: 89 ; name: Cassi Heal
_id: 92 ; name: Ta Sikorski
_id: 93 ; name: Lucinda Vanderburg
_id: 96 ; name: Milan Mcgavock
_id: 103 ; name: Fleta Duplantis
_id: 107 ; name: Beckie Millington
_id: 112 ; name: Myrtle Wolfinger
_id: 113 ; name:
_id: 115 ; name: Aurelia Menendez
_id: 120 ; name: Jenette Flanders
_id: 122 ; name: Daphne Zheng
_id: 123 ; name: Sanda Ryba
_id: 124 ; name: Denisha Cast
_id: 125 ; name: Marcus Blohm
_id: 128 ; name: Alix Sherrill
_id: 134 ; name: Tressa Schwing
_id: 135 ; name: Rosana Vales
_id: 136 ; name: Margart Vitello
_id: 138 ; name: Jesusa Rickenbacker
_id: 139 ; name: Rudolph Domingo
_id: 140 ; name: Jonie Raby
_id: 142 ; name: Laureen Salomone
_id: 143 ; name: Gwyneth Garling
_id: 145 ; name: Tandra Meadows
_id: 148 ; name: Carli Belvins
_id: 150 ; name: Eugene Magdaleno
_id: 151 ; name: Meagan Oakes
_id: 152 ; name: Richelle Siemers
_id: 153 ; name: Mariette Batdorf
_id: 154 ; name: Rachell Aman
_id: 156 ; name: Kayce Kenyon
_id: 158 ; name: Houston Valenti
_id: 160 ; name: Lady Lefevers
_id: 163 ; name: Dinah Sauve
_id: 168 ; name: Joel Rueter
_id: 170 ; name: Danika Loeffler
_id: 171 ; name: Chad Rahe
_id: 173 ; name: Vinnie Auerbach
_id: 175 ; name: Grady Zemke
_id: 176 ; name: Vina Matsunaga
_id: 179 ; name: Gena Riccio
_id: 181 ; name: Merissa Mann
_id: 186 ; name: Leonida Lafond
_id: 187 ; name: Devorah Smartt
_id: 189 ; name: Tonia Surace
_id: 194 ; name: Echo Pippins
_id: 196 ; name: Santiago Dollins
_id: 197 ; name: Tonisha Games
_id: 198 ; name: Timothy Harrod

In [10]:
# in HOMEWORK

for x in records.find({'scores.type':'exam'},{'_id':1, 'name':1,'scores.score':1}):
  y=(x['scores'][2])
  if y['score']<40:
    print("_id:",x['_id'],";","name:",x['name'])

_id: 0 ; name: aimee Zank
_id: 4 ; name: Zachary Langlais
_id: 9 ; name: Sanda Ryba
_id: 14 ; name: Alix Sherrill
_id: 21 ; name: Rosana Vales
_id: 25 ; name: Rudolph Domingo
_id: 27 ; name: Edgar Sarkis
_id: 37 ; name: Meagan Oakes
_id: 43 ; name: Ernestine Macfarland
_id: 44 ; name: Houston Valenti
_id: 45 ; name: Terica Brugger
_id: 47 ; name: Kurtis Jiles
_id: 59 ; name: Vinnie Auerbach
_id: 63 ; name: Rubie Winton
_id: 81 ; name: Linnie Weigel
_id: 95 ; name: Omar Bowdoin
_id: 96 ; name: Milan Mcgavock
_id: 100 ; name: Demarcus Audette
_id: 106 ; name: Karry Petrarca
_id: 107 ; name: Beckie Millington
_id: 114 ; name: aimee Zank
_id: 128 ; name: Alix Sherrill
_id: 131 ; name: Fletcher Mcconnell
_id: 133 ; name: Gisela Levin
_id: 150 ; name: Eugene Magdaleno
_id: 155 ; name: Aleida Elsass
_id: 164 ; name: Alica Pasley
_id: 195 ; name: Linnie Weigel
_id: 199 ; name: Rae Kohout

In [ ]:
 #3). students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

In [11]:
# scored below pass in all category
A= records.find({"scores.0.score": {"$lt": 40}, "scores.1.score": {"$lt": 40}, "scores.2.score": {"$lt": 40}}, {"_id": 1, "name":1})
for i in A:
  print(i)

{'_id': 0, 'name': 'aimee Zank'}

In [12]:
# list of students who passed in all three category

A= records.find({"scores.0.score": {"$gt": 40}, "scores.1.score": {"$gt": 40}, "scores.2.score": {"$gt": 40}}, {"_id": 1, "name":1})
for i in A:
  print(i)

{'_id': 1, 'name': 'Aurelia Menendez'}
{'_id': 7, 'name': 'Salena Olmos'}
{'_id': 10, 'name': 'Denisha Cast'}
{'_id': 11, 'name': 'Marcus Blohm'}
{'_id': 12, 'name': 'Quincy Danaher'}
{'_id': 13, 'name': 'Jessika Dagenais'}
{'_id': 18, 'name': 'Verdell Sowinski'}
{'_id': 20, 'name': 'Tressa Schwing'}
{'_id': 23, 'name': 'Tamika Schildgen'}
{'_id': 32, 'name': 'Gwen Honig'}
{'_id': 36, 'name': 'Eugene Magdaleno'}
{'_id': 52, 'name': 'Tawana Oberg'}
{'_id': 54, 'name': 'Joel Rueter'}
{'_id': 55, 'name': 'Tresa Sinha'}
{'_id': 61, 'name': 'Grady Zemke'}
{'_id': 64, 'name': 'Whitley Fears'}
{'_id': 65, 'name': 'Gena Riccio'}
{'_id': 67, 'name': 'Merissa Mann'}
{'_id': 68, 'name': 'Jenise Mcguffie'}
{'_id': 75, 'name': 'Tonia Surace'}
{'_id': 79, 'name': 'Mariela Sherer'}
{'_id': 84, 'name': 'Timothy Harrod'}
{'_id': 85, 'name': 'Rae Kohout'}
{'_id': 90, 'name': 'Osvaldo Hirt'}
{'_id': 97, 'name': 'Maren Scheider'}
{'_id': 98, 'name': 'Carli Ector'}
{'_id': 99, 'name': 'Jaclyn Morado'}
{'_id': 102, 'name': 'Mercedez Garduno'}
{'_id': 104, 'name': 'Brittny Warwick'}
{'_id': 105, 'name': 'Shin Allbright'}
{'_id': 108, 'name': 'Mikaela Meidinger'}
{'_id': 109, 'name': 'Flora Duell'}
{'_id': 110, 'name': 'Nobuko Linzey'}
{'_id': 111, 'name': 'Gennie Ratner'}
{'_id': 116, 'name': 'Corliss Zuk'}
{'_id': 118, 'name': 'Zachary Langlais'}
{'_id': 119, 'name': 'Wilburn Spiess'}
{'_id': 126, 'name': 'Quincy Danaher'}
{'_id': 127, 'name': 'Jessika Dagenais'}
{'_id': 129, 'name': 'Tambra Mercure'}
{'_id': 130, 'name': 'Dodie Staller'}
{'_id': 141, 'name': 'Edgar Sarkis'}
{'_id': 159, 'name': 'Terica Brugger'}
{'_id': 166, 'name': 'Tawana Oberg'}
{'_id': 167, 'name': 'Malisa Jeanes'}
{'_id': 169, 'name': 'Tresa Sinha'}
{'_id': 174, 'name': 'Dusti Lemmond'}
{'_id': 182, 'name': 'Jenise Mcguffie'}
{'_id': 184, 'name': 'Harriett Velarde'}
{'_id': 185, 'name': 'Kam Senters'}
{'_id': 188, 'name': 'Leola Lundin'}
{'_id': 190, 'name': 'Adrien Renda'}
{'_id': 191, 'name': 'Efrain Claw'}
{'_id': 193, 'name': 'Mariela Sherer'}

In [ ]:
#4). Find the total and average of the exam, quiz and homework and store them in a separate collection.

In [13]:
total_exam=0
avg_exam=0
total_quiz=0
avg_quiz=0
total_hw=0
avg_hw=0
for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][0])
  total_exam+= y['score']
  avg_exam=(total_exam/200)

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][1])
  total_quiz+= y['score']
  avg_quiz=(total_quiz/200)

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][2])
  total_hw+= y['score']
  avg_hw=(total_hw/200)

Collection_sum_avg={
    "_id":1,
    "Total":{"exam":total_exam,"quiz":total_quiz,"homework":total_hw},
    "Average":{"exam":avg_exam,"quiz":avg_quiz,"homework":avg_hw}
    }

db.collection_sum_avg.insert_one(Collection_sum_avg)

In [14]:
x=db.collection_sum_avg.find_one({"_id":1},{})
x

{'Average': {'exam': 48.673670759501775,
  'homework': 67.81869620661146,
  'quiz': 48.99672319430255},
 'Total': {'exam': 9734.734151900355,
  'homework': 13563.739241322293,
  'quiz': 9799.34463886051},
 '_id': 1}

In [ ]:
#5). New collection which consists of students who scored below average and above 40% in all the categories

In [15]:
out_exam=[]
out_quiz=[]
out_hw=[]

for x in records.find({'scores.type':'exam'},{'_id':1,'name':1,'scores.score':1}):
  y=(x['scores'][0])
  if 40<y['score']<48.673670759501775:
    out_exam.append(x['name'])


for x in records.find({'scores.type':'exam'},{'_id':1,'name':1,'scores.score':1}):
  y=(x['scores'][1])
  if 40<y['score']<48.99672319430255:
    out_quiz.append(x['name'])

for x in records.find({'scores.type':'exam'},{'_id':1,'name':1,'scores.score':1}):
  y=(x['scores'][2])
  if 40<y['score']<67.81869620661146:
    out_hw.append(x['name'])

Coll={"_id":1,"collection2":"students scored below average and above 40%",
             "student_list":{"exam":out_exam,"quiz":out_quiz,"homework":out_hw}}

db.belowavg_abovepass.insert_one(Coll)

In [16]:
C=db.belowavg_abovepass.find_one()
print(C)

{'_id': 1, 'collection2': 'students scored below average and above 40%', 'student_list': {'exam': ['Wilburn Spiess', 'Denisha Cast', 'Gisela Levin', 'Tressa Schwing', 'Rosana Vales', 'Tamika Schildgen', 'Gwyneth Garling', 'Kayce Kenyon', 'Terica Brugger', 'Chad Rahe', 'Jenise Mcguffie', 'Cassi Heal', 'Demarcus Audette', 'Flora Duell', 'Quincy Danaher', 'Alix Sherrill', 'Laureen Salomone', 'Gwyneth Garling', 'Aleida Elsass', 'Alica Pasley', 'Malisa Jeanes', 'Harriett Velarde', 'Mariela Sherer'], 'quiz': ['Salena Olmos', 'Terica Brugger', 'Danika Loeffler', 'Joaquina Arbuckle', 'Rubie Winton', 'Brain Lachapelle', 'Osvaldo Hirt', 'Demarcus Audette', 'Mercedez Garduno', 'Karry Petrarca', 'Flora Duell', 'Salena Olmos', 'Tambra Mercure', 'Verdell Sowinski', 'Sadie Jernigan', 'Elizabet Kleine', 'Kam Senters', 'Leola Lundin', 'Mariela Sherer'], 'homework': ['Corliss Zuk', 'Bao Ziglar', 'Wilburn Spiess', 'Denisha Cast', 'Tambra Mercure', 'Jesusa Rickenbacker', 'Jonie Raby', 'Kaila Deibler', 'Eugene Magdaleno', 'Richelle Siemers', 'Mariette Batdorf', 'Lady Lefevers', 'Alica Pasley', 'Joel Rueter', 'Danika Loeffler', 'Joaquina Arbuckle', 'Vina Matsunaga', 'Gena Riccio', 'Kim Xu', 'Jenise Mcguffie', 'Harriett Velarde', 'Devorah Smartt', 'Tonia Surace', 'Tonisha Games', 'Rae Kohout', 'Toshiko Sabella', 'Cassi Heal', 'Ta Sikorski', 'Maren Scheider', 'Jaclyn Morado', 'Nobuko Linzey', 'Gennie Ratner', '', 'Bao Ziglar', 'Wilburn Spiess', 'Jenette Flanders', 'Salena Olmos', 'Sanda Ryba', 'Marcus Blohm', 'Dodie Staller', 'Rosana Vales', 'Margart Vitello', 'Tandra Meadows', 'Synthia Labelle', 'Mariette Batdorf', 'Rachell Aman', 'Ernestine Macfarland', 'Terica Brugger', 'Kurtis Jiles', 'Barbera Lippman', 'Dinah Sauve', 'Elizabet Kleine', 'Tawana Oberg', 'Joel Rueter', 'Dusti Lemmond', 'Vina Matsunaga', 'Kim Xu', 'Merissa Mann', 'Devorah Smartt', 'Len Treiber', 'Timothy Harrod']}}

In [ ]:
#7). A new collection which consists of students who scored above pass mark in all the categories.

In [17]:
# list of students who passed in all three category

A= records.find({"scores.0.score": {"$gt": 40}, "scores.1.score": {"$gt": 40}, "scores.2.score": {"$gt": 40}}, {"_id": 1, "name":1})
for i in A:
  db.passed.insert_one(i)

In [18]:
for i in db.passed.find():
  print(i)

{'_id': 1, 'name': 'Aurelia Menendez'}
{'_id': 7, 'name': 'Salena Olmos'}
{'_id': 10, 'name': 'Denisha Cast'}
{'_id': 11, 'name': 'Marcus Blohm'}
{'_id': 12, 'name': 'Quincy Danaher'}
{'_id': 13, 'name': 'Jessika Dagenais'}
{'_id': 18, 'name': 'Verdell Sowinski'}
{'_id': 20, 'name': 'Tressa Schwing'}
{'_id': 23, 'name': 'Tamika Schildgen'}
{'_id': 32, 'name': 'Gwen Honig'}
{'_id': 36, 'name': 'Eugene Magdaleno'}
{'_id': 52, 'name': 'Tawana Oberg'}
{'_id': 54, 'name': 'Joel Rueter'}
{'_id': 55, 'name': 'Tresa Sinha'}
{'_id': 61, 'name': 'Grady Zemke'}
{'_id': 64, 'name': 'Whitley Fears'}
{'_id': 65, 'name': 'Gena Riccio'}
{'_id': 67, 'name': 'Merissa Mann'}
{'_id': 68, 'name': 'Jenise Mcguffie'}
{'_id': 75, 'name': 'Tonia Surace'}
{'_id': 79, 'name': 'Mariela Sherer'}
{'_id': 84, 'name': 'Timothy Harrod'}
{'_id': 85, 'name': 'Rae Kohout'}
{'_id': 90, 'name': 'Osvaldo Hirt'}
{'_id': 97, 'name': 'Maren Scheider'}
{'_id': 98, 'name': 'Carli Ector'}
{'_id': 99, 'name': 'Jaclyn Morado'}
{'_id': 102, 'name': 'Mercedez Garduno'}
{'_id': 104, 'name': 'Brittny Warwick'}
{'_id': 105, 'name': 'Shin Allbright'}
{'_id': 108, 'name': 'Mikaela Meidinger'}
{'_id': 109, 'name': 'Flora Duell'}
{'_id': 110, 'name': 'Nobuko Linzey'}
{'_id': 111, 'name': 'Gennie Ratner'}
{'_id': 116, 'name': 'Corliss Zuk'}
{'_id': 118, 'name': 'Zachary Langlais'}
{'_id': 119, 'name': 'Wilburn Spiess'}
{'_id': 126, 'name': 'Quincy Danaher'}
{'_id': 127, 'name': 'Jessika Dagenais'}
{'_id': 129, 'name': 'Tambra Mercure'}
{'_id': 130, 'name': 'Dodie Staller'}
{'_id': 141, 'name': 'Edgar Sarkis'}
{'_id': 159, 'name': 'Terica Brugger'}
{'_id': 166, 'name': 'Tawana Oberg'}
{'_id': 167, 'name': 'Malisa Jeanes'}
{'_id': 169, 'name': 'Tresa Sinha'}
{'_id': 174, 'name': 'Dusti Lemmond'}
{'_id': 182, 'name': 'Jenise Mcguffie'}
{'_id': 184, 'name': 'Harriett Velarde'}
{'_id': 185, 'name': 'Kam Senters'}
{'_id': 188, 'name': 'Leola Lundin'}
{'_id': 190, 'name': 'Adrien Renda'}
{'_id': 191, 'name': 'Efrain Claw'}
{'_id': 193, 'name': 'Mariela Sherer'}

In [ ]:
#6) Create a new collection which consists of students who scored below the fail marks in all categories.

In [21]:
n= records.find({"scores.0.score": {"$lt": 40}, "scores.1.score": {"$lt": 40}, "scores.2.score": {"$lt": 40}}, {"_id": 1, "name":1})
for i in n:
  db.pased.insert_one(i)

In [22]:
for i in db.pased.find():
  print(i)

{'_id': 0, 'name': 'aimee Zank'}